<tr>
	<td><%=match.orderIndex%></td>
	<td class="matchup">
		<div>
			<div class="player-1 <%=match.winner==1||match.winner=="D"?'winner':''%>">
				<div>
					<img class="d-sm-img char1 char-img" src="img/chars/<%=match.p1char1%>.png" data-char="<%=match.p1char1%>">
					<img class="d-sm-img char2 char-img" src="img/chars/<%=match.p1char2%>.png" data-char="<%=match.p1char2%>"><br>
					<img class="d-sm-img char3 char-img" src="img/chars/<%=match.p1char3%>.png" data-char="<%=match.p1char3%>">
					<img class="d-sm-img char4 char-img" src="img/chars/<%=match.p1char4%>.png" data-char="<%=match.p1char4%>">
				</div>
				<span class="name1"><%=match.p1name1%></span>
				<span class="name2"><%=match.p1name2%></span>
				<span class="name3"><%=match.p1name3%></span>
				<span class="name4"><%=match.p1name4%></span>
				<img class="d-sm-img rank-img" src="img/ranks/<%=match.p1rank%>.png" data-rank="<%=match.p1rank%>">
			</div>
			<span class="versus"></span>
			<div class="player-2 <%=match.winner==2||match.winner=="D"?'winner':''%>">
				<div>
					<img class="d-sm-img char1 char-img" src="img/chars/<%=match.p2char1%>.png" data-char="<%=match.p2char1%>">
					<img class="d-sm-img char2 char-img" src="img/chars/<%=match.p2char2%>.png" data-char="<%=match.p2char2%>"><br>
					<img class="d-sm-img char3 char-img" src="img/chars/<%=match.p2char3%>.png" data-char="<%=match.p2char3%>">
					<img class="d-sm-img char4 char-img" src="img/chars/<%=match.p2char4%>.png" data-char="<%=match.p2char4%>">
				</div>
				<span class="name1"><%=match.p2name1%></span>
				<span class="name2"><%=match.p2name2%></span>
				<span class="name3"><%=match.p2name3%></span>
				<span class="name4"><%=match.p2name4%></span>
				<img class="d-sm-img rank-img" src="img/ranks/<%=match.p2rank%>.png" data-rank="<%=match.p2rank%>">
			</div>
		</div>
	</td>
	<td>
		<img class="TODOCLASS" src="img/maps/<%=match.map%>.png" data-map="<%=match.map%>">
	</td>
	<td>
		<a class="goto-button" data-time="<%=match.time%>">Go to <%=match.readableTime%></a>
	</td>
	<td>
		<a class="edit-button" 
			data-seek="1"
			data-idx="<%=match.orderIndex%>" 
			data-p1char1="<%=match.p1char1%>"
			data-p1char2="<%=match.p1char2%>"
			data-p1char3="<%=match.p1char3%>"
			data-p1char4="<%=match.p1char4%>"
			data-p2char1="<%=match.p2char1%>"
			data-p2char2="<%=match.p2char2%>"
			data-p2char3="<%=match.p2char3%>"
			data-p2char4="<%=match.p2char4%>"
			data-p1name1="<%=match.p1name1%>" 
			data-p1name2="<%=match.p1name2%>" 
			data-p1name3="<%=match.p1name3%>" 
			data-p1name4="<%=match.p1name4%>" 
			data-p2name1="<%=match.p2name1%>" 
			data-p2name2="<%=match.p2name2%>" 
			data-p2name3="<%=match.p2name3%>" 
			data-p2name4="<%=match.p2name4%>" 
			data-p1rank="<%=match.p1rank%>" 
			data-p2rank="<%=match.p2rank%>"
			data-map="<%=match.map%>"
			data-winner="<%=match.winner%>" 
			data-time="<%=match.time%>">Edit and seek</a>
		<br>
		<a class="edit-button" 
			data-idx="<%=match.orderIndex%>" 
			data-p1char1="<%=match.p1char1%>"
			data-p1char2="<%=match.p1char2%>"
			data-p1char3="<%=match.p1char3%>"
			data-p1char4="<%=match.p1char4%>"
			data-p2char1="<%=match.p2char1%>"
			data-p2char2="<%=match.p2char2%>"
			data-p2char3="<%=match.p2char3%>"
			data-p2char4="<%=match.p2char4%>"
			data-p1name1="<%=match.p1name1%>" 
			data-p1name2="<%=match.p1name2%>" 
			data-p1name3="<%=match.p1name3%>" 
			data-p1name4="<%=match.p1name4%>" 
			data-p2name1="<%=match.p2name1%>" 
			data-p2name2="<%=match.p2name2%>" 
			data-p2name3="<%=match.p2name3%>" 
			data-p2name4="<%=match.p2name4%>" 
			data-p2rank="<%=match.p1rank%>" 
			data-p2rank="<%=match.p2rank%>"
			data-map="<%=match.map%>"
			data-winner="<%=match.winner%>" 
			data-time="<%=match.time%>">Edit only</a>
	</td>
	<td>
		<button class="delete-button" data-time="<%=match.time%>">Delete</button>
	</td>
</tr>