<div class="ms-menu">
	<div class="ms-menu-logo m-0">
		<a href="/"><img src="img/logos/logo_<%=server.getRandomCharId()%>.png" alt="Logo"/></a>
	</div>
	<nav class="ms-menu-link float-right">
		<ul>
			<a target="_blank" href="https://discord.gg/G4hBsG7stG">
				<img src="img/ENG.png" alt="English Discord">
			</a>
			<a target="_blank" href="https://discord.gg/8kP9caAD6C">
				<img src="img/JPN.png" alt="Japanese Discord">
			</a>
		</ul>
	</nav>
	<nav class="ms-menu-link">
		<input type="checkbox" id="ms-menu-toggle">

		<label for="ms-menu-toggle" class="ms-menu-icon">
			<div class="hamburger-menu"><div class="line1"></div><div class="line2"></div><div class="line3"></div></div>
		</label>
		<ul>
			<a href="/characters"><li>Characters</li></a>
			<a href="/statistics"><li>Statistics</li></a>
			<a href="/editor"><li>Editor</li></a>
			<a href="/contributors"><li>Contributors</li></a>
		</ul>
	</nav>
</div>